body {
    background-color: black;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}

#header {
    text-align: center;
    background-color: gray;  
}

#bottom {
    text-align: right;
    padding: 2px 2px 2px 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav {
    float: left;
}